:root {
  --rowNum: 4;
  --colNum: 5;
  --colTask: 1;
  --gridHeight: 120px;
}


* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 1em;
}

header {
  height: 60px;
  background-color: #09236b;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  list-style: none;
  padding: 3px;
  cursor: pointer;
  display: inline-block;
}

header nav ul li:hover {
   background-color: #fff;
   color: #09236b;
} 
/*STATUS LED */
.status {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 1px;
 }
 .status-active {
  background-color: #80FF00;
  box-shadow: inset #333 0 -1px 4px 1px; 
 }
 .status-deactive {
  background-color: red;
  box-shadow: inset #333 0 -1px 4px 1px; 
 }
/*FORMS*/
.container-form,
.container-form-task{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
  overflow: auto;
  height: 100%;
  margin-bottom: 20px;
}

.container-form-task {
  height:100%;
  overflow-y:scroll; 
  margin-bottom:20px;
}

.brand{
  text-align: center;
  margin-bottom: 5px;
}

.brand span{
  color:#08315a;
}
.wrapper-form,
.wrapper-form-task {
  display: grid;
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
.wrapper-form{
  grid-template-columns: 1fr 2fr;
}

.wrapper-form-task{
  grid-template-columns: 25% 2fr;
  margin: 10px;
}

.wrapper-form > *,
.wrapper-form-task > *{
  padding: 2em;
}
.wrapper-form h3,
.wrapper-form-task h3 {
  color:#989797;
  margin-bottom: 5px;
}

.side-info-register {
  grid-column: 1 / 3;
}

.side-info,
.side-info-register,
.side-info-task{
  background:#c9e6ff;
}
.side-info-register {
  text-align: center;
}
.side-info h3,
.brand{
  text-align: left;
}
.side-info h3,
.side-info-task h3,
.side-info-register h3, 
.brand{
  color: #2b56ce;
}
.side-info-register ul,
.side-info ul {
  margin-top: 10px;
}
.side-info-register ul li,
.side-info ul li,
.side-info-task ul li {
  padding: 5px;
  text-decoration: underline;
  list-style: none;
  cursor: pointer;
}
.side-info-register ul li:hover,
.side-info ul li:hover {
  color:#1ab13b;
  transition: background-color 2s ease-out;
}

.side-info-task h3 {
  text-align: center;
}

.course-form{
  background:#f9feff;
}
.register-form {
  grid-column: 1 / 3;
}
/* FORM STYLES */
.course-form form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.course-form form label{
  display:block;
}

.course-form form p{
  margin:0;
}
.course-form form fieldset{
  padding:10px;
  border: 1px solid #c9e6ff;
}

.course-form form .full{
  grid-column: 1 / 3;
}
.course-form form .register-radio {
  display: flex;
  padding: 0;
  margin: 0 70px;
  align-items: center;
}
.course-form form button, 
.course-form form input, 
.course-form form textarea{
  width:90%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.course-form form textarea{
  width: 96%;
}
.course-form form button{
  background:#c9e6ff;
  border:0;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

.course-form form button:hover {
  background:#1ab13b;
  color:#fff;
  outline:0;
  cursor: pointer;
  transition: background-color 2s ease-out;
}


/*TEACHE COURSE TABLE*/
.header-courses{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-newCourse {
  padding: 8px;
  margin: 8px;
  border: 1px solid green;
  background: none;
  font-weight: bold;
  color: green;
  cursor: pointer;
  transition: background-color 2s ease-out;
}
.btn-newCourse:hover{
  background: green;
  color: #fff;
}
.teacher-course-header {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}
.cut-text{
  display: block;
  max-width: 56px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.teacher-course-cell {
  list-style: none;
  display: grid;
  /*grid-template-rows: repeat(var(--rowNum), var(--gridHeight));*/
  grid-template-columns: repeat(var(--colNum), 1fr);
  gap: 2px;
  font-size: 1em;
  text-align: center;
}

.link-to-status:hover {
  cursor: pointer;
  color: #1ab13b;
  text-decoration: underline;
}
.teacher-course-header {
  align-items: center;
}
.teacher-course-header li,
.teacher-course-row li{
  list-style: none;
  padding: 10px;
}
.teacher-course-row li {
  padding: 2px;
  border-bottom: 1px solid #ccc;
}

.action-course-edit {
  color: green;

}
.action-course-delete {
  color: red;
}
.action-course {
  text-decoration: underline;
  cursor: pointer;
}

.notification-read {
  color: #ccc;
  cursor: pointer;
}
.notification-unread {
  color: green;
  animation: shake 2s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
}

pre {
  width: 95%;
  padding: 0;
  margin: 0 auto;
	overflow: auto;
	overflow-y: hidden;
	line-height: 20px;
	background: #efefef;
	border: 1px solid #777;

}
/*
pre { 
  width: 95%;
  margin: 0 auto; 
  padding: 0; 
  color: #aaa; 
  background-color: #222;
  white-space: pre; 
  line-height: 20px;
  text-shadow: 0 1px 0 #000;
  border-radius: .3em; 
  border-bottom: 1px solid #555;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset, 0 0 20px rgba(0,0,0,0.2) inset;
	font: 16px/18px 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	} */
pre code {
	padding: 10px;
	color: #222;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.status-task {
  display: grid;
}
.status-task-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(var(--colTask), 1fr);
  justify-content: center;
 
}
.status-task-list li{
  border-bottom: none;
}
/*MEDIA QUERIES*/

@media (max-width: 700px){
  /*forms*/
  .wrapper-form{
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .course-form form {
    grid-template-columns: 1fr;
    grid-gap:5px;
  }
  .course-form form .full{
    grid-column: 1 / 2;
  }
  .wrapper-form > *{
    padding: 1em;
  } 
  .course-form form textarea {
    width: 90%;
  }
  .side-info h3, .brand{
    text-align: center;
  }
  .course-form form .register-radio {
    margin: 0 55px;
  } 
}